<ul class="venues-list">
  <li *ngFor="let venues of listVenues" class="venues-list--item">
    <div [routerLink]="['/detail', venues.venue.id]" class="venues-card">
      <header class="venues-card--header">
        <h3 class="venues-card--title">{{venues.venue.name}}</h3>
        <span class="venues-card--rating">{{venues.venue.rating}}</span>
      </header>
      <p class="venues-card--text">{{venues.venues?.categories[0]?.name}}</p>
      <p class="venues-card--text">{{venues.venue.location.address}}, {{venues.venue.location.city}}</p>
    </div>
  </li>
</ul>
