<ul class="list">
  <li *ngFor="let venues of listVenues" class="list-item">
    <div [routerLink]="['/detail', venues.venue.id]" class="card">
      <header class="card-header">
        <h3 class="card-title">{{venues.venue.name}}</h3>
        <span class="card-rating">{{venues.venue.rating}}</span>
      </header>
      <p class="card-text">{{venues.venue?.categories[0]?.name}}</p>
      <p class="card-text">{{venues.venue.location.address}}, {{venues.venue.location.city}}</p>
    </div>
  </li>
</ul>
