/* Venues list styles */

.venues-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    list-style: none;
}

.venues-list--item {
    width: 50%;
    box-sizing: border-box;
}

.venues-card {
    margin: 10px;
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(216, 222, 228, .4)
}

.venues-card--header {
    display: flex;
}

.venues-card--title {
    font-size: 18px; 
    font-weight: 700;
    color: #00A1E4;
}

.venues-card--rating {
    padding: 5px;
    margin-left: auto;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    background-color: #04E762;
}

.venues-card--text {
    padding: 3px 0;
    font-size: 14px;
    color: #a7b0bd;
}
