<section class="detail">
  <header class="detail-header">
    <div class="detail-header-photo">
      <img src="{{venue?.bestPhoto?.prefix}}{{venue?.bestPhoto?.width}}x{{venue?.bestPhoto?.height}}{{venue?.bestPhoto?.suffix}}" alt="">
    </div>
    <div class="detail-header-info">
      <h3 class="detail-header-title">{{venue.name}}</h3>
      <ul class="detail-header-categories">
        <li *ngFor="let category of venue.categories">{{category.name}}</li>
      </ul>
      <p class="detail-header-location">{{venue.location?.address}}</p>
      <p class="detail-header-likes">Likes: {{venue.likes?.count}}</p>
    </div>
    <span class="detail-header-rating">{{venue.rating}}</span>
  </header> 
  <div class="detail-body">
    <p class="datail-decription">{{venue.description}}</p>
    <h3 class="detail-subtitle">Comments:</h3>
    <ul class="detail-list-comments">
      <li *ngFor="let phrase of venue.phrases" class="detail-list-comments-items">
        <h4 class="detail-list-comments-subtitle">{{phrase.phrase}}</h4>
        <p class="detail-list-comments-text">{{phrase.sample.text}}</p>
      </li>
    </ul>
    <a href="{{venue.url}}" target="_blank" class="detail-url">{{venue.url}}</a>
  </div>
</section>

