/************************************************************************
* core/variables
************************************************************************/

// Colors

$PRIMARY_COLOR: #00A1E4;
$SECOND_COLOR: #04E762;

// Media Queries

$SCREEN_SM_MIN: 768px;
$SCREEN_MD_MIN: 992px;
$SCREEN_LG_MIN: 1200px;